footer.footer
  .footer__dots--1
  .footer__dots--2
  .footer__container
    section.footer__section--1
      .footer__icon
        p.footer__icon--text T
      a.footer__logo(href="#") Trafalgar
      p.footer__text Trafalgar provides progressive, and affordable healthcare, accessible on mobile and online for everyone
      p.footer__text--rights ©Trafalgar PTY LTD 2020. All rights reserved
    section.footer__section--2
      h4.footer__title Company
      ul.footer__list
        li.footer__list--item
          a.footer__item--link(href="#") About 
        li.footer__list--item
          a.footer__item--link(href="#") Testimonials
        li.footer__list--item
          a.footer__item--link(href="#") Find a doctor
        li.footer__list--item
          a.footer__item--link(href="#") Apps
    section.footer__section--3
      h4.footer__title Region
      ul.footer__list
        li.footer__list--item
          a.footer__item--link(href="#") Indonesia 
        li.footer__list--item
          a.footer__item--link(href="#") Singapore
        li.footer__list--item
          a.footer__item--link(href="#") Hongkong
        li.footer__list--item
          a.footer__item--link(href="#") Canada
    section.footer__section--4
      h4.footer__title Help
      ul.footer__list
        li.footer__list--item
          a.footer__item--link(href="#") Help center
        li.footer__list--item
          a.footer__item--link(href="#") Contact support
        li.footer__list--item
          a.footer__item--link(href="#") Instructions
        li.footer__list--item
          a.footer__item--link(href="#") How it works