header.header
  .header__container
    section.header__section--1
      .header__icon
        p.header__icon--text T  
      a.header__logo(href="#") Trafalgar
      nav.header__navbar
        a.navbar__link.navbar__link--main(href="#") Home 
        a.navbar__link(href="#") Find a doctor
        a.navbar__link(href="#") Apps
        a.navbar__link(href="#") Testimonials
        a.navbar__link(href="#") About us
      button.hamburger.hamburger--twist
        .inner
          span.bar
          span.bar 
          span.bar 
    section.header__section--2
      article.header__article--dots
      article.header__article--title   
        h2.header__title Virtual healthcare <br> for you 
        p.header__text Trafalgar provides progressive, and affordable healthcare, accessible on mobile and online for everyone
        button.header__button 
          a.header__button--link(href="#")  Consult today
      article.header__article--img 
        img.header__img(src="./img/pic1.webp", alt="")