main.main
  section.main__section--1.section1
    article.section1__article--title
      h2.section1__title Our services
      hr.section1__line
      p.section1__title--text We provide to you the best choiches for you. Adjust it to your health needs and make sure your undergo treatment with our highly qualified doctors you can consult with us which type of service is suitable for your health
    .section1__container
      .section1__container--items 
        img.section1__container--img(src="./img/gridpic1.webp", alt="")
        h4.section1__container--title Search doctor
        p.section1__container--text Choose your doctor from thousands of specialist, general, and trusted hospitals
      .section1__container--items 
        img.section1__container--img(src="./img/gridpic2.webp", alt="")
        h4.section1__container--title.title--2 Online pharmacy
        p.section1__container--text Buy  your medicines with our mobile application with a simple delivery system
      .section1__container--items 
        img.section1__container--img(src="./img/gridpic3.webp", alt="")
        h4.section1__container--title Consultation
        p.section1__container--text Free consultation with our trusted doctors and get the best recomendations
      .section1__container--items 
        img.section1__container--img(src="./img/gridpic4.webp", alt="")
        h4.section1__container--title Details info
        p.section1__container--text Free consultation with our trusted doctors and get the best recomendations
      .section1__container--items 
        img.section1__container--img(src="./img/gridpic5.webp", alt="")
        h4.section1__container--title.title--4 Emergency care
        p.section1__container--text You can get 24/7 urgent care for yourself or your children and your lovely family
      .section1__container--items 
        img.section1__container--img(src="./img/gridpic6.webp", alt="")
        h4.section1__container--title Tracking
        p.section1__container--text Track and save your medical history and health data 
    article.section1__article--dots
    article.section1__article--button
      button.section1__button
        a.section1__button--link(href="#")  Learn more


  include ../chunk/main_section2
  include ../chunk/main_section3
  include ../chunk/slider
  include ../chunk/main_section4

