section.main__section--2.section2
  article.section2__article--title
    img.section2__img(src="./img/pic2.png", alt="")
    .section2__container
      h2.section2__title Leading healthcare providers
      hr.section2__line
      p.section2__text Trafalgar provides progressive, and affordable healthcare, accessible on mobile and online for everyone. To us, it’s not just work. We take pride in the solutions we deliver
      button.section2__button
        a.section2__button--link(href="#") Learn more
      article.section2__article--dots
