section.main__section--3.section3
  article.section3__article--title
    .section3__container 
      h2.section3__title Download our mobile apps
      hr.section3__line
      p.section3__text Our dedicated patient engagement app and web portal allow you to access information instantaneously (no tedeous form, long calls, or administrative hassle) and securely
      button.section3__button
        a.section3__button--link(href="#") Download
          img.section3__link--img(src="./img/arrow_down.webp", alt="")
    img.section3__img(src="./img/pic3.png", alt="")