section.main__section--4.section4
  article.section4__article--title 
    h2.section4__title Check out our latest article
    hr.section4__line
  article.section4__article--dots  
  .section4__container
    .section4__container--items.item1 
      .section4__container--inner
        h4.section4__container--title Disease detection, check up in the laboratory
        p.section4__container--text In this case, the role of the health laboratory is very important to do a disease detection...
        a.section4__container--link(href="#") Read more 
          img.section4__container--img(src="./img/arrow_right.webp", alt="") 
    .section4__container--items.item2 
      .section4__container--inner
        h4.section4__container--title Herbal medicines that are safe for consumption
        p.section4__container--text Herbal medicine is very widely used at this time because of its very good for your health...
        a.section4__container--link(href="#") Read more 
          img.section4__container--img(src="./img/arrow_right.webp", alt="") 
    .section4__container--items.item3 
      .section4__container--inner
        h4.section4__container--title Natural care for healthy facial skin
        p.section4__container--text A healthy lifestyle should start from now and also for your skin health. There are some...
        a.section4__container--link(href="#")  Read more 
          img.section4__container--img(src="./img/arrow_right.webp", alt="")
  article.section4__article--button
    button.section4__button
      a.section4__button--link(href="#") View all