.slider
  .slider__list
    .slider__item
      .slider__container
        h1.slider__title What our customer are saying
        hr.slider__line
        .slider__item--container
          .slider__item--photo
          .item__title--container  
            h3.slider__item--title Edward Newgate
            span.slider__item--subtitle Founder Circle 
          p.slider__item--text “Our dedicated patient engagement app and web portal allow you to access information instantaneously (no tedeous form, long calls, or administrative hassle) and securely”
    .slider__item
      .slider__container
        h1.slider__title What our customer are saying
        hr.slider__line
        .slider__item--container
          .slider__item--photo
          .item__title--container
            h3.slider__item--title Tony Stark
            span.slider__item--subtitle The Iron Man
          p.slider__item--text “Our dedicated patient engagement app and web portal allow you to access information instantaneously (no tedeous form, long calls, or administrative hassle) and securely”
    .slider__item
      .slider__container
        h1.slider__title What our customer are saying
        hr.slider__line
        .slider__item--container
          .slider__item--photo
          .item__title--container
            h3.slider__item--title Red witch
            span.slider__item--subtitle Zakovia's citizen 
          p.slider__item--text “Our dedicated patient engagement app and web portal allow you to access information instantaneously (no tedeous form, long calls, or administrative hassle) and securely”
    .slider__item
      .slider__container
        h1.slider__title What our customer are saying
        hr.slider__line
        .slider__item--container
          .slider__item--photo
          .item__title--container
            h3.slider__item--title Captain America
            span.slider__item--subtitle Brave soldier 
          p.slider__item--text “Our dedicated patient engagement app and web portal allow you to access information instantaneously (no tedeous form, long calls, or administrative hassle) and securely”
    .slider__item
      .slider__container
        h1.slider__title What our customer are saying
        hr.slider__line
        .slider__item--container
          .slider__item--photo
          .item__title--container
            h3.slider__item--title Spider-Man
            span.slider__item--subtitle Friendly Neighbour 
          p.slider__item--text “Our dedicated patient engagement app and web portal allow you to access information instantaneously (no tedeous form, long calls, or administrative hassle) and securely”
  .slider__section--dots
  .slider__section--dots2
.controls.slider__controls 
  img.controls__item.controls__item--prev(src="./img/arrow_left.png") 
  ol.slider__pagers
  img.controls__item.controls__item--next(src="./img/arrow_right2.png")